/* || General styles */

:root {
  --board-color: #0a65ac50;
  --ship-color: #646464;
  --hit-color: #b70a06;
  --miss-color: #fc672e;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, .message {
  text-align: center;
}

/* || Board styles */

#boards {
  display: flex;
  justify-content: space-around;
}

#boards>section {
  width: 30vw;
}

.board {
  display: grid;
  background-color: var(--board-color);
  height: 30vw;
  width: 30vw;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  border-right: 1px solid var(--board-color);
  border-bottom: 1px solid var(--board-color);
}

.board>div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-left: 1px solid var(--board-color);
  border-top: 1px solid var(--board-color);
}

.ship {
  background-color: var(--ship-color);
}

.hit {
  background-color: var(--hit-color);
}

.miss {
  background-color: var(--miss-color);
}

/* || Ship Selection Styles */

#shipSelection {
  text-align: center;
  height: 30vw;
  width: 30vw;
  display: flex;
  flex-direction: column;
}

#shipHover {
  pointer-events: none;
  position: fixed;
  background-color: var(--ship-color);
  left: 0px;
  top: 0px;
  z-index: 9;
  display: flex;
  border-right: 1px solid var(--board-color);
  border-bottom: 1px solid var(--board-color);
}

.shipHoverCol {
  flex-direction: column;
}

.shipHoverCell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vw;
  width: 3vw;
  border-left: 1px solid var(--board-color);
  border-top: 1px solid var(--board-color);
}

/* || Game End Screen Styles */

.modalContainer {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBox {
  background-color: #fff;
  width: 30%;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

.hidden {
  display: none;
}